#header {
    background: #fff;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #ddd;
}



#header .inner {}

#header .inner .flex_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    line-height: 98px;
}

#header .inner h1 {
    width: 90px;
    font-size: 0;
}

#header .flex_inner .gnb {
    margin-right: 30px;
    margin-left: 30px;
}

#header .flex_inner .gnb>ul {
    display: flex;
    gap: 30px;
}

#header .flex_inner .gnb>ul>li a:hover {
    color: #35C5F0;
}

#header .flex_inner .login>ul {
    display: flex;
    gap: 30px;

    font-size: 14px;
}

#header .flex_inner .login>ul li {
    position: relative;
}

#header .flex_inner .login>ul li~li::after {
    content: "";
    position: absolute;
    top: 41%;
    left: -15px;

    width: 1px;
    height: 18px;
    background: #ddd;
}

#header .flex_inner .cart {
    font-size: 30px;
    margin-left: 50px;
}

#header .flex_inner .search {
    display: inline-flex;
    align-items: center;
    line-height: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40px;
    padding: 0 14px;
}

#header .flex_inner .search span {
    font-size: 24px;
    padding-right: 10px;
    color: #828C94;
    height: 40;
    align-items: center;
}

#header .flex_inner .search input {
    width: 200px;
    height: 40px;
    border: inherit;
    border-left: none;
    border-right: none;
    outline: none;
}


/* #header .flex_inner .search input:focus {
    border: 1px solid #35C5F0;
    border-left: none;
    border-right: none;
} */

#header .flex_inner .search input:hover {
    background: #f9f9f9;
}

#header .flex_inner .search:hover {
    background: #f9f9f9;
}

#header .flex_inner .writing>a {
    font-size: 16px;
    font-weight: 500;
    background: #35C5F0;
    color: #fff;

    padding: 9px 16px 9px 16px;
    border-radius: 4px;

}

#header .flex_inner .writing>a:hover {
    background: #2da5ca;
}


#header .flex_inner .sub02_gnb {
    position: absolute;
    right: 90px;
    width: 350px;
    height: 140px;

    display: none;
}

#header .flex_inner .sub02_gnb.on {
    display: block;

}

#header .flex_inner .sub02_gnb ul {
    position: relative;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgb(63 71 77 / 20%) 0px 4px 10px 0px;
}

#header .flex_inner .sub02_gnb ul li a {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 2px;
    font-size: 15px;
    line-height: 0;
    outline: none;
}

#header .flex_inner .sub02_gnb ul li a:hover {
    background: #f9f9f9;
}

#header .flex_inner .sub02_gnb ul li a .right {
    line-height: 20px;
}

#header .flex_inner .sub02_gnb ul li a .right h3 {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    color: rgb(47, 52, 56);
}

#header .flex_inner .sub02_gnb ul li a .right p {
    display: block;
    margin: 4px 0px 0px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(130, 140, 148);
}

#header .flex_inner .sub02_gnb ul li a img {
    width: 36px
}

.main {}

.main .inner {
    width: 1200px;
    margin: 0 auto;

    position: relative;
}

.main .gnb_container {
    line-height: 3;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 100px;
    z-index: 888;
    left: 0;
    right: 0;
    background: #fff;


}

.main .gnb_container .smenu {
    width: 1200px;
    margin: 0 auto;

}

.main .gnb_container .smenu ul {
    display: flex;
    gap: 30px;
    font-weight: 700;
}

.main .gnb_container .smenu ul li a:hover {
    color: #2da5ca;
}

.main .gnb_container .con_smenu01 span {
    font-size: 10px;
    color: #fff;
    background: rgb(117, 117, 117);
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
}

/* .main .gnb_container .con_smenu01 {
    display: none;
}

.main .gnb_container .con_smenu01.on {
    display: block;
} */


.main .gnb_container .con_smenu02.on {
    display: block;
}


.main .gnb_container .con_smenu02 {
    display: none;
}

.main .gnb_container .con_smenu02.on {
    display: block;
}


.main .gnb_container .con_smenu03 {
    display: none;
}

.main .gnb_container .con_smenu03.on {
    display: block;
}


.main .inner .main_slick {
    display: flex;
    padding-top: 200px;
}

.main .inner .main_slick .left {
    flex: 1 1 847px;

}

.main .inner .main_slick .left .mini_img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.main .inner .main_slick .left .left_inner {
    position: relative;

}

.main .inner .main_slick .left .left_inner img {
    border-radius: 14px;
}

.main .inner .main_slick .left .left_inner .tet {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.main .inner .main_slick .left .left_inner .tet h2 {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.main .inner .main_slick .left .left_inner .tet span {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

.main .inner .main_slick .left .left_inner .tet .img_text {
    display: flex;
    align-items: center;
}

.main .inner .main_slick .right {
    flex: 1 1 216px;
    margin-left: 30px;
    width: 100%;
    height: 100%;
}

.main .inner .main_slick .right .inner {
    width: 269px;
    height: 508px;
    /* overflow: hidden; */
    position: relative;
}

.main .inner .main_slick .right .inner img {
    width: 100%;
    height: 543px;
    border-radius: 12px;
}

.main .inner .main_slick .right .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: transparent;
    font-size: 0;
    border: none;

    width: 25px;
    height: 25px;

    border-top: 3px solid #000;
    border-left: 3px solid #000;

}

.main .inner .main_slick .right .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -138px;
    opacity: 0;
    z-index: 999;
}

.main .inner .main_slick .right .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 138px;
    opacity: 0;
}

.main .icon_menu {
    padding: 60px 0;
}

.main .icon_menu .inner {
    display: flex;
    gap: 50px;
}

.main .icon_menu .inner .icon img {
    width: 88px;
    object-fit: cover;

}

.main .icon_menu .inner .icon p {
    margin-top: 15px;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
}

.main .it_menu {
    padding: 60px 0;
}

.main .it_menu .inner .text_box {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 700;

    margin-bottom: 30px;
}

.main .it_menu .inner .text_box a:hover {
    color: rgb(175, 175, 175);
}

.main .it_menu .inner .img_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


}

.main .it_menu .inner .img_box figure:hover img {
    scale: 103%;
    transition: 0.5s;
}

.main .it_menu .inner .img_box img {
    border-radius: 4px;
    margin-bottom: 15px;

    height: 200px;
}

.main .it_menu .inner .img_box p {
    min-width: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(47, 52, 56);
    word-break: keep-all;
    overflow-wrap: break-word;
}

.main .it_menu .inner .img_box02 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.main .it_menu .inner .img_box02 img {
    border-radius: 4px;
    margin-bottom: 15px;

    height: 250px;
}

.main .it_menu .inner .img_box02 figure:hover img {
    scale: 103%;
    transition: 0.5s;
}

.main .majimag {
    margin: 0 0 60px 0;
}


#footer {
    padding: 40px 0 40px 0;
    background: #f9f9f9;
}

#footer .inner {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 2fr;
    column-gap: 30px;
    font-size: 12px;
    line-height: 16px;
}

#footer .inner .left .hd_tit {
    display: flex;
    align-items: center;
    gap: 3px;
}

#footer .inner .left .hd_tit a {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    align-items: center;
}

#footer .inner .left .hd_tit span {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1;
}

#footer .inner .left .time {
    display: flex;
    align-items: center;
    margin: 20px 0 8px;
}

#footer .inner .left .time a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 6px;
}

#footer .inner .left .time time {
    font-size: 14px;
    line-height: 20px;
}

#footer .inner .left>p {
    font-size: 12px;
    line-height: 20px;
    white-space: pre-wrap;
    margin-bottom: 12px;
}

#footer .inner .left_bt {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

#footer .inner .line {
    width: 1px;
    background: rgb(234, 237, 239);

}

#footer .inner .grid_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, min-content);
    grid-auto-flow: column;
    gap: 20px 10px;
}

#footer .inner .right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 10px;
    line-height: 14px;
    color: rgb(130, 140, 148);
}

#footer .inner .right .hd_text {
    overflow-x: hidden;
}

#footer .inner .right .hd_text .hd_in_text {}

#footer .inner .right .hd_text .hd_in_text .text {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    white-space: nowrap;
}

#footer .inner .right .hd_text .hd_in_text span {
    margin: 0 4px;
}

#footer .inner .md_text {
    display: grid;
    column-gap: 16px;
    grid-template-columns: max-content 1fr;
}

#footer .inner .md_text .md_left {
    display: flex;
    gap: 6px;
    align-items: center;
}

#footer .inner .md_text .md_right {
    display: flex;
    gap: 6px;
    align-items: center;
}

#footer .inner .md_text .md_left img {
    width: 32px;
}

#footer .inner .md_text .md_right img {
    width: 32px;
}

#footer .inner .icon {
    display: flex;
    gap: 15px;
    font-size: 15px;


}

#footer .inner .icon i {
    padding: 5px;
    background: #828C94;
    border-radius: 50%;
    color: #fff;
}